<a href="https://colab.research.google.com/github/ovisaha5/DataProcessingSP22/blob/main/Exam2_AvijitSaha_CPSMA_4313.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Avijit Saha
##Exam 2
## Data Processing Visualization-CPSMA 4313

* From my quiz/homework from the github; https://github.com/ovisaha5/
DataProcessingSP22

* Dr. Nicholas Jacob lectures in github; https://github.com/nurfnick/Data_Viz

* Pandas dataframe drop; https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop.html

* Stack overflow; https://stackoverflow.com/questions/26500156/renaming-column-in-dataframe-for-pandas-using-regular-expression

* Pandas to_datetime: https://pandas.pydata.org/docs/reference/api/pandas.to_datetime.html

* Pandas datetime index; https://pandas.pydata.org/docs/reference/api/pandas.DatetimeIndex.html

“I attest that the resources above were the only ones utilized in completing
the exam and the work included is my own and no one else from the course.”

####Importing libraries

In [58]:
import pandas as pa
import numpy as np
import re

###Question 1

**a.** Storing data and comment on the appropriateness of each

In [59]:
df = pa.read_csv('https://raw.githubusercontent.com/nurfnick/Data_Viz/main/Activity_Dataset_V1.csv')
df.head(10).T #Store the data in dataframe.

,0,1,2,3,4,5,6,7,8,9
Unnamed: 0,0,1,2,3,4,5,6,7,8,9
activity_day,2022-01-01,2022-01-01,2022-01-01,2022-01-01,2022-01-01,2022-01-01,2022-01-01,2022-01-01,2022-01-01,2022-01-01
workout_type,Freestyle,Freestyle,Indoor Cycling,Walking,Open Water,Outdoor Cycling,Indoor Cycling,Outdoor Running,Trail Run,Pool Swimming
distance,9.3,3.44,6.34,7.91,8.99,5.47,6.28,2.94,2.87,3.91
time,77,96,85,42,36,117,66,26,26,23
calories,123,55,33,82,131,144,378,430,465,99
total_steps,NaN,NaN,NaN,1571.0,NaN,NaN,NaN,7618.0,2790.0,NaN
avg_speed,18.88,29.65,17.85,22.1,25.83,2.2,10.65,10.59,32.92,33.15
avg_cadence,168.54,125.92,81.93,29.63,64.55,43.47,23.83,131.93,21.42,169.3
max_cadence,138.3,292.81,323.69,180.16,342.89,291.67,253.84,334.72,341.17,206.97
avg_pace,NaN,NaN,NaN,07:58,NaN,NaN,NaN,06:44,06:48,NaN
max_pace,NaN,NaN,NaN,28:58,NaN,NaN,NaN,27:44,25:50,NaN
min_pace,NaN,NaN,NaN,07:58,NaN,NaN,NaN,06:15,06:20,NaN
avg_heart_rate,112.5,111.0,95.0,83.0,138.0,142.0,85.0,145.0,142.0,132.5
max_heart_rate,122.0,122.0,90.0,85.0,166.0,177.0,90.0,190.0,188.0,175.0
min_heart_rate,103,100,100,81,110,107,80,100,96,90
vo2_max(%),19,42,1,3,7,44,34,23,2,22
aerobic(%),28,28,32,22,0,45,32,0,0,20
anaerobic(%),2,2,0,0,5,15,0,71,80,15
intensive(%),7,29,22,24,21,57,44,18,46,28
light(%),50,88,43,65,88,39,23,3,13,20

In [60]:
df.dtypes #Examine the data types.

Unnamed: 0          int64
activity_day       object
workout_type       object
distance          float64
time                int64
calories            int64
total_steps       float64
avg_speed         float64
avg_cadence       float64
max_cadence       float64
avg_pace           object
max_pace           object
min_pace           object
avg_heart_rate    float64
max_heart_rate    float64
min_heart_rate      int64
vo2_max(%)          int64
aerobic(%)          int64
anaerobic(%)        int64
intensive(%)        int64
light(%)            int64
dtype: object

According to the data types provided in this dataframe I think, the time column need to be float instead of integer. total_steps can be changed as integer instead of float. min_heart_rate need to be changed as a float type. Also, the last five column vo2_max(%), aerobic(%), anarobic(%), intensive(%) and light(%), I will change it as a float instead of integer and the first column(activity_day) need to be DateTime data type.

**b.** Remove the 'Unnamed' column

In [61]:
df = df.drop(columns="Unnamed: 0") #removing the 'Unnamed column'
df.head(10).T #using this command to see the column clearly

,0,1,2,3,4,5,6,7,8,9
activity_day,2022-01-01,2022-01-01,2022-01-01,2022-01-01,2022-01-01,2022-01-01,2022-01-01,2022-01-01,2022-01-01,2022-01-01
workout_type,Freestyle,Freestyle,Indoor Cycling,Walking,Open Water,Outdoor Cycling,Indoor Cycling,Outdoor Running,Trail Run,Pool Swimming
distance,9.3,3.44,6.34,7.91,8.99,5.47,6.28,2.94,2.87,3.91
time,77,96,85,42,36,117,66,26,26,23
calories,123,55,33,82,131,144,378,430,465,99
total_steps,NaN,NaN,NaN,1571.0,NaN,NaN,NaN,7618.0,2790.0,NaN
avg_speed,18.88,29.65,17.85,22.1,25.83,2.2,10.65,10.59,32.92,33.15
avg_cadence,168.54,125.92,81.93,29.63,64.55,43.47,23.83,131.93,21.42,169.3
max_cadence,138.3,292.81,323.69,180.16,342.89,291.67,253.84,334.72,341.17,206.97
avg_pace,NaN,NaN,NaN,07:58,NaN,NaN,NaN,06:44,06:48,NaN
max_pace,NaN,NaN,NaN,28:58,NaN,NaN,NaN,27:44,25:50,NaN
min_pace,NaN,NaN,NaN,07:58,NaN,NaN,NaN,06:15,06:20,NaN
avg_heart_rate,112.5,111.0,95.0,83.0,138.0,142.0,85.0,145.0,142.0,132.5
max_heart_rate,122.0,122.0,90.0,85.0,166.0,177.0,90.0,190.0,188.0,175.0
min_heart_rate,103,100,100,81,110,107,80,100,96,90
vo2_max(%),19,42,1,3,7,44,34,23,2,22
aerobic(%),28,28,32,22,0,45,32,0,0,20
anaerobic(%),2,2,0,0,5,15,0,71,80,15
intensive(%),7,29,22,24,21,57,44,18,46,28
light(%),50,88,43,65,88,39,23,3,13,20

**c.** Clean the column names to remove the unit declaration, (%), using regular expressions.

In [62]:
df= df.rename(columns=lambda x: re.sub(r'[(.%)]','',x)) #cleaning column using regular expression
df.columns #lambda function help to pass the command for every column

Index(['activity_day', 'workout_type', 'distance', 'time', 'calories',
       'total_steps', 'avg_speed', 'avg_cadence', 'max_cadence', 'avg_pace',
       'max_pace', 'min_pace', 'avg_heart_rate', 'max_heart_rate',
       'min_heart_rate', 'vo2_max', 'aerobic', 'anaerobic', 'intensive',
       'light'],
      dtype='object')

In [63]:
df.head().T

                         0           1               2           3           4
activity_day    2022-01-01  2022-01-01      2022-01-01  2022-01-01  2022-01-01
workout_type     Freestyle   Freestyle  Indoor Cycling     Walking  Open Water
distance               9.3        3.44            6.34        7.91        8.99
time                    77          96              85          42          36
calories               123          55              33          82         131
total_steps            NaN         NaN             NaN      1571.0         NaN
avg_speed            18.88       29.65           17.85        22.1       25.83
avg_cadence         168.54      125.92           81.93       29.63       64.55
max_cadence          138.3      292.81          323.69      180.16      342.89
avg_pace               NaN         NaN             NaN       07:58         NaN
max_pace               NaN         NaN             NaN       28:58         NaN
min_pace               NaN         NaN             NaN       07:58         NaN
avg_heart_rate       112.5       111.0            95.0        83.0       138.0
max_heart_rate       122.0       122.0            90.0        85.0       166.0
min_heart_rate         103         100             100          81         110
vo2_max                 19          42               1           3           7
aerobic                 28          28              32          22           0
anaerobic                2           2               0           0           5
intensive                7          29              22          24          21
light                   50          88              43          65          88

**d.** Converting the activity_day to DayTime format

In [64]:
df.activity_day= pa.to_datetime(df.activity_day, format='%Y-%m-%d') #converting the activity_day column from an object to a datetime format
df.dtypes

activity_day      datetime64[ns]
workout_type              object
distance                 float64
time                       int64
calories                   int64
total_steps              float64
avg_speed                float64
avg_cadence              float64
max_cadence              float64
avg_pace                  object
max_pace                  object
min_pace                  object
avg_heart_rate           float64
max_heart_rate           float64
min_heart_rate             int64
vo2_max                    int64
aerobic                    int64
anaerobic                  int64
intensive                  int64
light                      int64
dtype: object

**e.** Impute ‘total steps’ by replacing the ‘NaN’s with an appropriate number of steps and converting appropriate data types.

In [65]:
df.total_steps=df.total_steps.fillna(method='pad')#filling it by the last value

In [66]:
df.total_steps=df.total_steps.fillna(method='bfill') #filling it by the first value
df.total_steps.isnull().sum() #Calculating the total null value

0

In [67]:
df.head(5).T #Showing the dataframe again

,0,1,2,3,4
activity_day,2022-01-01 00:00:00,2022-01-01 00:00:00,2022-01-01 00:00:00,2022-01-01 00:00:00,2022-01-01 00:00:00
workout_type,Freestyle,Freestyle,Indoor Cycling,Walking,Open Water
distance,9.3,3.44,6.34,7.91,8.99
time,77,96,85,42,36
calories,123,55,33,82,131
total_steps,1571.0,1571.0,1571.0,1571.0,1571.0
avg_speed,18.88,29.65,17.85,22.1,25.83
avg_cadence,168.54,125.92,81.93,29.63,64.55
max_cadence,138.3,292.81,323.69,180.16,342.89
avg_pace,NaN,NaN,NaN,07:58,NaN
max_pace,NaN,NaN,NaN,28:58,NaN
min_pace,NaN,NaN,NaN,07:58,NaN
avg_heart_rate,112.5,111.0,95.0,83.0,138.0
max_heart_rate,122.0,122.0,90.0,85.0,166.0
min_heart_rate,103,100,100,81,110
vo2_max,19,42,1,3,7
aerobic,28,28,32,22,0
anaerobic,2,2,0,0,5
intensive,7,29,22,24,21
light,50,88,43,65,88

In [68]:
df.total_steps.astype('int') #Convert the total_step column from float to integer

0      1571
1      1571
2      1571
3      1571
4      1571
       ...
995    1571
996    1571
997    1571
998    1571
999    1571
Name: total_steps, Length: 1000, dtype: int64

**f.** Convert non-empty avg_pace to float

In [69]:
df.avg_pace= pa.to_datetime(df.avg_pace)
df1= df.avg_pace.apply(lambda avg_pace: avg_pace.hour + (avg_pace.minute / 60)) #Converting the data from second to decimal
df1

0           NaN
1           NaN
2           NaN
3      7.966667
4           NaN
         ...
995         NaN
996         NaN
997         NaN
998         NaN
999         NaN
Name: avg_pace, Length: 1000, dtype: float64

In [70]:
df1.dtypes

dtype('float64')

It is now a float data type.

**g.** Group data by ‘workout type’ and find the mean, median, count and standard deviation of ‘calories’.

In [71]:
df.groupby('workout_type').calories.agg(['mean','median','count', 'std']) #groupby work_out types for calories

                       mean  median  count         std
workout_type
Cricket          307.548387   330.0     93  149.950609
Freestyle        278.552083   294.0     96  163.703768
Indoor Cycling   280.450000   306.0     80  156.633322
Open Water       296.747253   328.0     91  160.068499
Outdoor Cycling  299.129412   301.0     85  158.731263
Outdoor Running  301.469136   349.0     81  165.725080
Pool Swimming    283.414894   300.0     94  157.576703
Trail Run        267.966667   264.0     90  155.748533
Treadmill        278.142857   269.5     98  146.963352
Trekking         283.127660   280.5     94  151.034870
Walking          276.040816   270.5     98  157.287570

**h.** Create an indicator column that identifies if the activity achieved 30% or more ‘aerobic’ activity.

In [104]:
indicator = df.aerobic >=30   #Creating the dummy fuction for the indicator
df1=pa.concat([df,pa.DataFrame({'Indicator':indicator})], axis = 1)
df1.head(8).T

,0,1,2,3,4,5,6,7
activity_day,2022-01-01 00:00:00,2022-01-01 00:00:00,2022-01-01 00:00:00,2022-01-01 00:00:00,2022-01-01 00:00:00,2022-01-01 00:00:00,2022-01-01 00:00:00,2022-01-01 00:00:00
workout_type,Freestyle,Freestyle,Indoor Cycling,Walking,Open Water,Outdoor Cycling,Indoor Cycling,Outdoor Running
distance,9.3,3.44,6.34,7.91,8.99,5.47,6.28,2.94
time,77,96,85,42,36,117,66,26
calories,123,55,33,82,131,144,378,430
total_steps,1571.0,1571.0,1571.0,1571.0,1571.0,1571.0,1571.0,7618.0
avg_speed,18.88,29.65,17.85,22.1,25.83,2.2,10.65,10.59
avg_cadence,168.54,125.92,81.93,29.63,64.55,43.47,23.83,131.93
max_cadence,138.3,292.81,323.69,180.16,342.89,291.67,253.84,334.72
avg_pace,NaT,NaT,NaT,2022-03-11 07:58:00,NaT,NaT,NaT,2022-03-11 06:44:00
max_pace,NaN,NaN,NaN,28:58,NaN,NaN,NaN,27:44
min_pace,NaN,NaN,NaN,07:58,NaN,NaN,NaN,06:15
avg_heart_rate,112.5,111.0,95.0,83.0,138.0,142.0,85.0,145.0
max_heart_rate,122.0,122.0,90.0,85.0,166.0,177.0,90.0,190.0
min_heart_rate,103,100,100,81,110,107,80,100
vo2_max,19,42,1,3,7,44,34,23
aerobic,28,28,32,22,0,45,32,0
anaerobic,2,2,0,0,5,15,0,71
intensive,7,29,22,24,21,57,44,18
light,50,88,43,65,88,39,23,3
Indicator,False,False,True,False,False,True,True,False

**i.** Max workout_type by day and work_out type

In [105]:
df.groupby([df.activity_day.dt.day_name(),df.workout_type]).max_cadence.agg('max') #Using groupby to group it by date and workout_type

activity_day  workout_type
Friday        Cricket            217.25
              Freestyle          347.81
              Indoor Cycling     290.15
              Open Water         319.61
              Outdoor Cycling    282.35
                                  ...
Wednesday     Pool Swimming      349.78
              Trail Run          286.10
              Treadmill          349.66
              Trekking           339.65
              Walking            337.74
Name: max_cadence, Length: 77, dtype: float64

###Question 2

a. It took me about 5 hours to complete the exam.

b. The hardest part for me was to find the max work by day and the easiest part was finding the data types.

c. I think we need to spend more time on imputing data.