<a href="https://colab.research.google.com/github/ovisaha5/DataProcessingSP22/blob/main/Quiz5SubQuery.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

####Quiz 5
####Avijit Saha

In [ ]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

In [43]:
%%bigquery --project smart-tracer-338719
SELECT *
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
LIMIT 5

      trip_id  ... duration_minutes
0  9900289692  ...               39
1  9900285987  ...               31
2  9900285989  ...               31
3  9900285991  ...               30
4  9900286140  ...               19

[5 rows x 9 columns]

#####Second Most Popular

In [100]:
%%bigquery --project smart-tracer-338719
SELECT
COUNT(*) as total_trip_start, start_station_name
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
GROUP BY start_station_name
ORDER BY total_trip_start DESC

     total_trip_start        start_station_name
0               72799      21st & Speedway @PCL
1               40635      Riverside @ S. Lamar
2               36520  City Hall / Lavaca & 2nd
3               35307            2nd & Congress
4               34758      Rainey St @ Cummings
..                ...                       ...
188                 4           Marketing Event
189                 2             Eeyore's 2018
190                 1                    Stolen
191                 1             Eeyore's 2017
192                 1     cesar Chavez/Congress

[193 rows x 2 columns]

In [98]:
%%bigquery --project smart-tracer-338719
SELECT
 MAX(total_trip_start) as max_trip
 FROM (SELECT
      COUNT(start_station_name) as total_trip_start, start_station_name
      FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
      GROUP BY start_station_name)

   max_trip
0     72799

In [93]:
%%bigquery --project smart-tracer-338719
SELECT MAX (total_trip_start) as second_most_popular
FROM (SELECT
      COUNT(*) as total_trip_start, start_station_name
      FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
      GROUP BY start_station_name
      ORDER BY total_trip_start DESC) 
WHERE total_trip_start != (SELECT
      MAX(total_trip_start) as max_trip
      FROM (SELECT
      COUNT(start_station_name) as total_trip_start, start_station_name
      FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
      GROUP BY start_station_name))

   second_most_popular
0                40635

####Trip Lasted Over an Hour

In [91]:
%%bigquery --project smart-tracer-338719
SELECT start_station_name, duration_minutes
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
WHERE start_station_name = end_station_name AND duration_minutes = 60

                           start_station_name  duration_minutes
0                            Waller & 6th St.                60
1     Capital Metro HQ - East 5th at Broadway                60
2     Capital Metro HQ - East 5th at Broadway                60
3                     Toomey Rd @ South Lamar                60
4                                Lavaca & 6th                60
...                                       ...               ...
1569                            Nueces & 26th                60
1570                            Nueces & 26th                60
1571                              26th/Nueces                60
1572                              26th/Nueces                60
1573                              26th/Nueces                60

[1574 rows x 2 columns]