<a href="https://colab.research.google.com/github/ovisaha5/DataProcessingSP22/blob/main/Quiz4_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Quiz4_SQL
####Avijit Saha

In [1]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

####Navigating Data

In [15]:
%%bigquery --project smart-tracer-338719
SELECT *
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
LIMIT 7

      trip_id  ... duration_minutes
0  9900289692  ...               39
1  9900285987  ...               31
2  9900285989  ...               31
3  9900285991  ...               30
4  9900286140  ...               19
5  9900286143  ...               17
6  9900286171  ...                6

[7 rows x 9 columns]

####Average Time for a Trip by Starting Point

In [26]:
%%bigquery --project smart-tracer-338719
SELECT 
  AVG(duration_minutes) as avg_duration_minutes, start_station_name
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
GROUP BY start_station_name

     avg_duration_minutes                     start_station_name
0               27.168259                       Zilker Park West
1               28.115798                Toomey Rd @ South Lamar
2               30.421842        State Capitol @ 14th & Colorado
3               23.265843                       Waller & 6th St.
4               28.648889                             Pease Park
..                    ...                                    ...
188             23.067313  Republic Square @ Guadalupe & 4th St.
189             19.937466                             3rd & West
190             34.152547                               3rd/West
191             16.805353                          Nueces & 26th
192             24.521670                            26th/Nueces

[193 rows x 2 columns]

####Total Number of Trip Based on Starting Point

In [34]:
%%bigquery --project smart-tracer-338719
SELECT
COUNT(start_station_name) as total_trip_start, start_station_name
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
GROUP BY start_station_name

     total_trip_start                     start_station_name
0                1361                       Zilker Park West
1                3627                Toomey Rd @ South Lamar
2                5265        State Capitol @ 14th & Colorado
3                5744                       Waller & 6th St.
4                 675                             Pease Park
..                ...                                    ...
188             11038  Republic Square @ Guadalupe & 4th St.
189             23683                             3rd & West
190              6634                               3rd/West
191             17673                          Nueces & 26th
192              5007                            26th/Nueces

[193 rows x 2 columns]